<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="criterioCargaAtendidos" class="row" th:fragment="criterioCargaAtendidos" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend"></legend>
			<form id="formCargaAtendidos" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/carga/criterioCargaAtendidos :: ${tipo}}?:~{}">
				</th:block>
				<div class="form-group">
					<div class="col-lg-12 text-center">
						<button id="cargarAfiliados" type="button" class="btn btn-success">
							<i class="fa fa-floppy-o"></i> Cargar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<th:block th:fragment="registrar">
	<!--  
		<div class="form-group">									
			<div class="group">
				<label class="control-label col-lg-1">Estamento</label>
				<div class="col-lg-3">
					<select id="estamentos2" class="form-control select2" name="idEstamento">
						<option value="" disabled="disabled" selected="selected">Seleccione un Estamento</option>
						<option th:each="estamento : ${estamentos2}" th:value="${estamento.idItem}" 
							th:text="|${estamento.idItem} - ${estamento.descripcionItem}|"></option>
					</select>
				</div>
			</div>										
			<div class="group">
				<label class="control-label col-lg-2">Tipo de Documento</label>
				<div class="col-lg-2">
					<select id="tiposDocumento" class="form-control select2" name="tipoDocumento">
						<option value="" disabled="disabled" selected="selected">Seleccione un Tipo de Documento</option>
						<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
							th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
					</select>
				</div>
			</div>
			
			<div class="group">
				<div class="group">
					<label class="control-label col-lg-1">Nro. Documento</label>
					<div class="col-lg-2">
						<input id="nroDocumento" type="text" name="nroDocumento" class="form-control numbersOnly" maxlength="12"
							autocomplete="off" />
					</div>
				</div>
			</div>
		</div>
		-->
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1">Estamento</label>
				<div class="col-lg-3">
					<select id="estamentos2" class="form-control select2" name="idEstamento" autofocus="autofocus">
						<option value="" disabled="disabled" selected="selected">Seleccione un Estamento</option>
						<option th:each="estamento : ${estamentos2}" th:value="${estamento.idItem}" 
								th:if="${estamento.idItem != '4' && estamento.idItem != '5'}"
								th:text="|${estamento.idItem} - ${estamento.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-2">Archivo (.xlsx)</label>
				<div class="col-lg-4">
					<input id="uploadfile" name="uploadfile" type="file" class="file form-control"
						data-show-preview="false">
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>