<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<head>
<title>Carga de Datos</title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/resources/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/jquery-confirm.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2-bootstrap.min.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="page-content-wrap">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="col-lg-12 text-right">
								<h3 class="panel-title">Carga de Datos Inicial</h3>
								<button id="consultar" type="button" class="btn btn-primary">
									<i class="fa fa-search"></i> Consultar
								</button>
								<button id="cargar" type="button" class="btn btn-success">
									<i class="fa fa-upload"></i> Cargar
								</button>
							</div>
							
						</div>
						<div id="divCarga" class="panel-body">
							<fieldset class="well">
								<legend class="well-legend"></legend>
								<form id="formCargaInicial" class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
									<div class="form-group">										
										<div class="group">
											<label class="control-label col-lg-1">Estamento</label>
											<div class="col-lg-3">
												<select id="estamentos" class="form-control select2" name="idEstamento">
													<option value="" disabled="disabled" selected="selected">Seleccione un Estamento</option>
													<option th:each="estamento : ${estamentos}" th:value="${estamento.idItem}" 
														th:text="|${estamento.idItem} - ${estamento.descripcionItem}|"></option>
												</select>
											</div>
										</div>
										<div class="group">
											<label class="control-label col-lg-2">Archivo (.xlsx)</label>
											<div class="col-lg-4">
												<input id="uploadfile" name="uploadfile" type="file" class="file form-control"
													data-show-preview="false">
											</div>
										</div>
									</div>
									<div id="botonesForm" class="form-group">
										<div class="col-lg-12 text-center">
											<button id="cargarInicial" type="button" class="btn btn-success">
												<i class="fa fa-floppy-o"></i> Cargar
											</button>
										</div>
									</div>									
								</form>
							</fieldset>
						</div>
						<div id="divConsulta" class="panel-body hidden">
							<fieldset class="well">
								<legend class="well-legend"></legend>
								<form id="formConsultaInicial" class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
									<div class="form-group">										
										<div class="group">
											<label class="control-label col-lg-1">Estamento</label>
											<div class="col-lg-3">
												<select id="estamentos2" class="form-control select2" name="idEstamento">
													<option value="" disabled="disabled" selected="selected">Seleccione un Estamento</option>
													<option th:each="estamento : ${estamentos2}" th:value="${estamento.idItem}" 
														th:text="|${estamento.idItem} - ${estamento.descripcionItem}|"></option>
												</select>
											</div>
										</div>										
										<div class="group">
											<label class="control-label col-lg-2">Tipo de Documento</label>
											<div class="col-lg-2">
												<select id="tiposDocumento" class="form-control select2" name="tipoDocumento">
													<option value="" disabled="disabled" selected="selected">Seleccione un Tipo de Documento</option>
													<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
														th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
												</select>
											</div>
										</div>
										
										<div class="group">
											<div class="group">
												<label class="control-label col-lg-1">Nro. Documento</label>
												<div class="col-lg-2">
													<input id="nroDocumento" type="text" name="nroDocumento" class="form-control elemento-desactivable numbersOnly" maxlength="12"
														autocomplete="off" />
												</div>
											</div>
										</div>
									</div>
									<div id="botonesForm" class="form-group">
										<div class="col-lg-12 text-center">
											<button id="buscarAfiliado" type="button" class="btn btn-primary">
												<i class="fa fa-search"></i> Buscar
											</button>
										</div>
									</div>									
								</form>
							</fieldset>
							<div id="resultadoCargaInicial" class="col-xs-12">
								<table id="tablaCargaInicial" class="table table-bordered table-condensed nowrap display table-hover">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.show.rows.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery-confirm.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
		<script th:src="@{/resources/js/pagina/carga/inicial.js}"></script>
	</th:block>
</body>
</html>