<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="criterioConsultaAdmision" class="row" th:fragment="criterioConsultaAdmision" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Búsqueda</legend>
			<form id="formCriterioConsultaAdmision" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/admision/criterioConsultaAdmision :: ${tipo}}?:~{}">
				</th:block>
				<div class="form-group">
					<div class="col-lg-12 text-center">
						<button id="buscar" type="button" class="btn btn-primary">
							<i class="fa fa-search"></i> Buscar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<th:block th:fragment="admision">
		<div class="group">
			<label class="control-label col-lg-1 col-md-1">Estamento</label>
			<div class="col-lg-3 col-md-3">
				<select id="estamentos" class="form-control select2" name="idEstamento" autofocus="autofocus">
					<option value="" disabled="disabled" selected="selected">Seleccione un Estamento</option>
					<option th:each="estamento : ${estamentos}" th:value="${estamento.idItem}" 
						th:text="|${estamento.idItem} - ${estamento.descripcionItem}|"></option>
				</select>
			</div>
		</div>
		<!--  
		<div id="divCodigoAlumno" class="form-group hidden">
			<div class="group">
				<label class="control-label col-lg-2 col-md-2">Código de alumno</label>
				<div class="col-lg-2 col-md-2">
					<input id="codigoAlumno" type="text" name="codigoAlumno" class="form-control" maxlength="8" autofocus="autofocus"
						autocomplete="off" />
				</div>
			</div>
		</div>
		-->
		<div class="group">
			<label class="control-label col-lg-1 col-md-1">Tipo de Documento</label>
			<div class="col-lg-2 col-md-2">
				<select id="tiposDocumento" class="form-control select2 elemento-desactivable" name="tipoDocumento">
					<option value="" disabled="disabled" selected="selected">Seleccione un Tipo de Documento</option>
					<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
						th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
				</select>
			</div>
		</div>
		
		<div id="divNroDocumento" class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Nro. Documento</label>
				<div class="col-lg-2 col-md-2">
					<input id="nroDocumento" type="text" name="nroDocumento" class="form-control elemento-desactivable numbersOnly" maxlength="12"
						autocomplete="off" />
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>